* {
    box-sizing: border-box;
}

body {
    margin: 10px;
}

h2 {
    margin: 10px
}

.wrapper {
    background: white;
    height: 90vh;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr repeat(4, 1fr);
    grid-template-areas:
            "one one one one"
            "two three four four"
            "two five five six"
            "two seven eight nine"
            "two ten ten ten";
    grid-gap: 10px;
}

.wrapper>section {
    background: #fcd800;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#ten {
    grid-area: ten;
}