* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Helvetica;
    font-weight: bold;
}

.note-item{
    font-weight: normal;
}

.flex-container {
    width: 100%;
    border: 3px solid goldenrod;
    display: flex;
}
.flex-item {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}
