* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h2, h3, p, li {
    padding: 18px;
    margin: 0;
}

h2 {
    color: teal;
}

ul {
    list-style: none;
}

.wrapper {
    background: white;
    display: grid;
    grid-template-columns: 1fr 4fr 20%;
    grid-template-rows: 2em 100% 4em 2em;
    grid-template-areas:
            "header header header"
            "nav main adds"
            "nav footerOne footerOne"
            "nav footerTwo footerTwo";
}

#header {
    color: white;
    background: black;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#header>ul {
    display: flex;
    padding-left: 0;
}

#nav {
    background: lightgray;
    grid-area: nav;
}

#nav>ul {
    padding-left: 0;
}

#main {
    background: white;
    grid-area: main;
}

#adds {
    background: grey;
    grid-area: adds;
}

#footerOne {
    color: white;
    background: darkgrey;
    grid-area: footerOne;
}

#footerTwo {
    color: white;
    background: #636363;
    grid-area: footerTwo;
    font-size: 12px;
}

#footerTwo a {
    color: white;
}

#footerTwo>p {
    padding: 1em;
}

