* {
    box-sizing: border-box;
}

body {
    margin: 10px;
}

h2 {
    margin: 10px
}

.wrapper {
    background: white;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 64px 100% 124px 64px;
    grid-template-areas:
            "header header"
            "nav main"
            "nav footerOne"
            "nav footerTwo";
}

#header {
    background: black;
    grid-area: header;
}

#nav {
    background: lightgray;
    grid-area: nav;
}

#main {
    background: white;
    grid-area: main;
}

#footerOne {
    background: darkgrey;
    grid-area: footerOne;
}

#footerTwo {
    background: #636363;
    grid-area: footerTwo;
}

