/* Wide to Narrow */

@media all and (min-width: 1200px) {
    body {
        background-color: #30447B;
        color: orangered;
    }

}

@media all and (max-width: 1199px) {
    body {
        background-color: #0fb784;
        color: #9e4157;
    }
}

@media all and (max-width: 991px) {
    body {
        background-color: #9e4157;
        color: #372f93;
    }
}

@media all and (max-width: 768px) {
    body {
        background-color: #372f93;
        color: #b4d455;
    }
}

@media all and (max-width: 575px) {
    body {
        background-color: #b4d455;
        color: orange;
    }
}

