:root {
    --red: #dc1b21;
    --blue: #2f447a;
    --yellow: #fccc08;
    --white: #ffffff;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
}
main {
    background: antiquewhite;
    margin: 1em;
    display: grid;
    width: 500px;
    height: 500px;
    border: 4px solid black;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
main div {
    font-size: 2em;
    color: white;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#one {
    grid-area: 1/1/3/3;
    background: var(--blue);
}
#two {
    grid-area: 1/3/4/9;
    background: var(--red);
}
#three {
    grid-area: 3/1/6/3;
    background: var(--yellow);
}
#four {
    grid-area: 4/3/8/5;
    background: var(--white);
}
#five {
    grid-area: 4/5/6/9;
    background: var(--white);
}
#six {
    grid-area: 6/1/8/3;
    background: var(--white);
}
#seven {
    grid-area: 6/5/8/9;
    background: var(--yellow);
}
#eight {
    grid-area: 8/1/9/3;
    background: var(--red);
}
#nine {
    grid-area: 8/3/9/9;
    background: var(--blue);
}