.fancy-header {
    color: purple;
    text-decoration: underline;
}

#main-header {
    text-align: center;
}

body {
    background-image: url(../img/herringbone.png);
}

h2 {
    text-decoration: underline;
}