#body {
    background-image: url(../img/herringbone.png);
    font-family: 'Titillium Web', sans-serif;
    background-color: magenta;
}

h2 {
    text-decoration: underline;
    font-size: 38px;
}

ul {
    list-style: square;
}

table th {
    font-family: cursive;
    font-size: 40px;
}

table, th, tr, td {
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

a:hover {
    color: crimson;
    font-style: italic;
}

a:link {
    color: #000000;
}

a:visited {
    color: #222222;
}

a:active {
    color: #560700;
}

.company-vision {
    position: relative;
    text-align: center;
}

.centered {
    text-align: center;
    font-size: 21px;
}

.fancy-header {
    color: #FF335B;
}

.page-break {
    margin-top: -15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#main-header {
    text-align: center;
    font-size: 72px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: -5px;
}

#product-header {
    margin-bottom: -15px;
}