#bootstrap-overrides :root {
    --red: #E6563B;
    --orange: #EB9D3A;
    --light-green: #7CB06C;
    --blue: #00ABA9;
    --white: #F0F0F0;
    --gray: #E6E6E6;
}

#bootstrap-overrides body {
    background-color: var(--gray);
}

#bootstrap-overrides #logo {
    height: 105px;
    width: 105px;
}

#bootstrap-overrides .icon {
    height: 18px;
    width: 18px;
}

#bootstrap-overrides h1 {
    font-size: 64px;
    font-family: 'Anton', sans-serif;
}

#bootstrap-overrides h2 {
    font-size: 48px;
    font-family: 'Anton', sans-serif;
}

#bootstrap-overrides h3 {
    font-size: 40px;
    font-family: 'Anton', sans-serif;
}

#bootstrap-overrides h4 {
    font-size: 32px;
    font-family: 'Anton', sans-serif;
}

#bootstrap-overrides h5 {
    font-size: 28px;
    font-family: 'Anton', sans-serif;
}

#bootstrap-overrides p {
    font-family: 'Abel', sans-serif;
}
