:root {
    --red: #E6563B;
    --orange: #EB9D3A;
    --light-green: #7CB06C;
    --blue: #00ABA9;
    --white: #F0F0F0;
    --gray: #E6E6E6;
}

#logo {
    height: 105px;
    width: 105px;
}

.icon {
    height: 18px;
    width: 18px;
}

h1 {
    font-size: 64px;
    font-family: 'Anton', sans-serif;
}

h2 {
    font-size: 48px;
    font-family: 'Anton', sans-serif;
}

h3 {
    font-size: 40px;
    font-family: 'Anton', sans-serif;
}

h4 {
    font-size: 32px;
    font-family: 'Anton', sans-serif;
}

h5 {
    font-size: 28px;
    font-family: 'Anton', sans-serif;
}

p {
    font-family: 'Abel', sans-serif;
}
